*/*{
	margin: 0;
	padding: 0;
}*/

body{font-family: 'Open Sans', sans-serif;	
}
a{
	text-decoration: none;
}
.header{
	width: 100%;
	padding-top:16px;
	padding-bottom: 16px;
}
.container{
	width: 1140px;
	margin: auto;
	}
.menu{
	text-align: center;
}
.menu li{
	list-style: none;
	display: inline-block;
	margin-left: 12px;
	margin-right:12px;
	font-size: 15px;
	font-weight: 500;	
}
.menu a{
	color: #1e266d;;
	text-decoration: none;
}
.menu a:hover{
	color: blueviolet;
	transform: scale(1.3);
	display: inline-block;
}


.banner1{ 
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.box{
	display: flex;
}
.left-1{
	flex-basis: 50%;
}
.right-1{
	flex-basis: 50%;
}
.left-1{
	margin-top: 100px;
}

.left-1 h1{
	font-size: 45px;
	font-weight: 700;
	color: #1e266d;
}
.left-1 p{
	font-size: 22px;
	font-weight: 300;
	color: #1e266d;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.left-1 .banner-btn{
	background: #2e367d;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	border-radius: 4px;
}
.left-1 .banner-btn:hover {
	background-color:deepskyblue; ;
}
.right-1{
	margin-top: 50px;
}
img{
	max-width: 100%;
	height: auto;
}


.mission{
	width: 100%;
	padding-top: 5%;
	padding-bottom: 2%;

}
.mission-all{
	display: flex;
	line-height: 2;
}
.mission-a{
	flex-basis: 30%;
	border-radius: 8px;
	background-color: #f9799a;
	color: white;
	padding-left: 2%;
	padding-right: 1%;
	margin-right: 30px;
}
.mission-b{
	background-color: #61c4d8;
	border-radius: 8px;
	padding-left: 2%;
	padding-right: 1%;
	margin-right: 30px;
	color: white;
	flex-basis: 30%
}
.mission-c{
	background-color: #1e266d;
	border-radius: 8px;
	color: white;
	padding-left: 2%;
	padding-right: 1%;
	margin-right: 30px;
	flex-basis:30%

}
.mission-all h3{

	color: white;
}


.mission a h3{
	font-weight: 700;
	font-size: 18px;
	color: white;
}



.banner-2{ 
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.box{
	display: flex;
}
.left-2{
	flex-basis: 50%;
}
.right-2{
	flex-basis: 50%;
}
.left-2{
	margin-top: 100px;
}
.left-2 h1{ 
	font-size: 24px ;
	color:#171f3c;
	font-weight: 300;
	display:inline-block;
	margin-top: 0px;
	margin-bottom:0px;
 }
.left-2 h2{
	font-size: 45px;
	font-weight: 700;
	color: #07324f;
	margin-top: 5px;
}
.left-2 p{
	font-size: 16px;
	font-weight: 400;
	color: #526375;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 100px;
}
.left-2 .banner-btn{
	background: #2e367d;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	border-radius: 4px;
}
.left-2 .banner-btn:hover {
	background-color:deepskyblue; ;
}
.right-2{
	margin-top: 50px;
}
img{
	max-width: 100%;
	height: auto;
}



.banner-3{ 
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.box{
	display: flex;
}
.left-3{
	flex-basis: 50%;
}
.right-3{
	flex-basis: 50%;
}
.left-3{
	margin-top: 50px;
	margin-right: 50px;
}
.right-3 h1{ 
	font-size: 24px ;
	color:#171f3c;
	font-weight: 300;
	display:inline-block;
	margin-top: 0px;
	margin-bottom:0px;
 }
.right-3 h2{
	font-size: 45px;
	font-weight: 700;
	color: #07324f;
	margin-top: 5px;
}
.right-3 p{
	font-size: 16px;
	font-weight: 400;
	color: #526375;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 100px;
}
.right-3 .banner-btn{
	background: #2e367d;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	border-radius: 4px;
}
.right-3 .banner-btn:hover {
	background-color:deepskyblue; ;
}
.right-3{
	margin-top: 50px;

}
img{
	max-width: 100%;
	height: auto;
}



.banner-4{ 
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.box{
	display: flex;
}
.left-4{
	flex-basis: 50%;
}
.right-4{
	flex-basis: 50%;
}
.left-4{
	margin-top: 100px;
}
.left-4 h1{ 
	font-size: 24px ;
	color:#171f3c;
	font-weight: 300;
	display:inline-block;
	margin-top: 0px;
	margin-bottom:0px;
 }
.left-4 h2{
	font-size: 45px;
	font-weight: 700;
	color: #07324f;
	margin-top: 5px;
}
.left-4 p{
	font-size: 16px;
	font-weight: 400;
	color: #526375;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 100px;
}
.left-4 .banner-btn{
	background: #2e367d;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	border-radius: 4px;
}
.left-4 .banner-btn:hover {
	background-color:deepskyblue; ;
}
.right-4{
	margin-top: 50px;
}
img{
	max-width: 100%;
	height: auto;
}



.banner-5{ 
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.box{
	display: flex;
}
.left-5{
	flex-basis: 50%;
}
.right-5{
	flex-basis: 50%;
}
.left-5{
	margin-top: 50px;
	margin-right: 70px;
}
.right-5 h1{ 
	font-size: 24px ;
	color:#171f3c;
	font-weight: 300;
	display:inline-block;
	margin-top: 0px;
	margin-bottom:0px;
 }
.right-5 h2{
	font-size: 45px;
	font-weight: 700;
	color: #07324f;
	margin-top: 5px;
}
.right-5 p{
	font-size: 16px;
	font-weight: 400;
	color: #526375;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 100px;
}
.right-5 .banner-btn{
	background: #2e367d;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	border-radius: 4px;
}
.right-5 .banner-btn:hover {
	background-color:deepskyblue; ;
}
.right-5{
	margin-top: 50px;
}
img{
	max-width: 100%;
	height: auto;
}



.address{
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}
.address-all{
	display: flex;
	line-height: 1;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 70px;
	padding-right: 50px;
	border-radius: 8px;
	background:#2e367d
}
.add-left h2{
	font-weight: 700;
	color: #fff;
	font-size: 24px;
}
.add-left p{
	color: white;
	font-size: 16px;
	line-height: 1.5;
}
.add-right h2{
	font-weight: 700;
	color: #fff;
	font-size: 24px;
}
.add-right p{
	color: white;
	font-size: 16px;
	line-height: 1.5;
}
.add-left{
	flex-basis: 50%;
}
.add-right{
	flex-basis: 50%;
}



.footer{
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.footer-main{
	display: flex;
}
.footer-item{
	flex-basis: 25%;
}
.footer-item h5{
	color:#1e266d;
	font-size: 16px;
	margin-bottom: 10px;
	margin-left: 40px;

}

.footer-item p{
	color: #91a3bb;
	font-size: 16px;
	line-height: 1.5;
	margin-right: 20px;
	margin-left: 40px;
}
.footer-item li{
	list-style: none;
	margin-bottom: 8px;
	margin-left: 2px;
	

}
.footer-item li a{
	transition: 0.5s;
	color:#91a3bb

}
.footer-item li a:hover{
	color: black;
	margin-left: 7px;
	transition: 0.5s
}




